<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
    <div class="container-fluid">
        <div id="navbarLogo" class="navbar-logo mt-2 animated fa-4x">
            <img src="{{ asset('build/images/logo.png') }}" width="80px" height="80px" alt="logo"/>
        </div>
        <button class="navbar-toggler text-white border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="navbar-nav">
                    <a class="nav-link m-3 text-secondary" href="/logout">Catégories</a>
                    <a class="nav-link m-3 text-secondary" href="/user/connect">Acteurs</a>
                    <a class="nav-link m-3 text-secondary" href="/user/connect">Mes favoris</a>
                    <a class="nav-link m-3 text-secondary" href="/user/create">Inscription</a>
                    <a class="nav-link m-3 text-secondary" href="/user/connect">Connexion</a>
            </div>
        </div>
    </div>
</nav>